.product-list {
    display: flex;
    position: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    margin-left: 150px;
}

.product-card {
    background-color: rgb(156, 116, 148);
    padding: 1rem; 
    flex: 0 1 10%; /*djust the width as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
     margin-top: 0; 
}

.product-card p{
     color: rgb(0, 0, 0);
}

.product-image {
    width: 300px;
    height: auto;
}

.fst-italic {
    font-family: Copperplate, Papyrus, fantasy;/* Choose a font */
    font-size: 2.5rem; /* Adjust the size */
    font-style: italic; /* Makes the text italic */
    color: #333; /* Set text color */
    text-align: center; /* Aligns the text */
    margin: 20px 0; /* Adds spacing around the text */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow */
  }

  .btn {
    align-self: stretch;
    display: inline-block;
    padding: 20px 30px;
    position: center;
    font-size: 16px;
    font-family: Copperplate, Papyrus, fantasy;
    font-weight: bold;
    text-align: center;
    color: rgb(46, 23, 42);
    background-color: azure;
    border: brown;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0,2s ease;
  }

  .btn-primary {
    background-color: rgb(153, 41, 119);
  }
  
  .btn-primary:hover {
    background-color: #c22cae; /* Darker shade for hover */
  }
  
  .btn-primary:active {
    background-color: #a81440; /* Even darker shade for active */
    transform: scale(0.95); /* Slight click effect */
  }
  
  /* Disabled button state */
  .btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }